<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDeptMapper">
  <insert id="insertDept" parameterType="SysDept">
     INSERT INTO sys_dept (
        <if test="deptId !=null and deptId !=0">dept_id,</if>
        <if test="parentId != null and parentId !=0">parent_id,</if>
        <if test="deptName ! = null and deptName!=''">dept_name,</if>
        <if test="ancestors !=null and ancestors!=''">ancestors,</if>
        <if test="orderNum !=null and orderNum !=''">order_num,</if>
        <if test="leader !=null and leader !=''">leader,</if>
        <if test="phone !=null and phone !=''">phone,</if>
        <if test="email !=null and email !=''">email,</if>
        <if test="status !=null">status,</if>
        <if test="createBy !=null and createBy !=''">create_by,</if>
        create_time
     ) VALUES (
          <if test="deptId!=null and deptId !=0">#{deptId},</if>
          <if test="parentId != null and parentId !=0">{parentId},</if>
          <if test="deptName ! = null and deptName!=''">#{deptName},</if>
          <if test="ancestors !=null and ancestors!=''">#{ancestors},</if>
          <if test="orderNum !=null and orderNum !=''">#{orderNum},</if>
          <if test="leader !=null and leader !=''">#{leader},</if>
          <if test="phone !=null and phone !=''">#{phone},</if>
          <if test="email !=null and email !=''">#{email},</if>
          <if test="status !=null">#{status},</if>
          <if test="createBy !=null and createBy !=''">#{createBy},</if>
          #{createTime}
     )
  </insert>
</mapper>

